* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.hero-container {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 16px;
}

.hero-wrapper {
  display: flex;
  margin-top: 109px;
}

.hero-content {
  max-width: 605px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-two {
  display: none;
}

.hero-content > h1 {
  font-family: "Exo 2";
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  color: #363738;
  margin-bottom: 40px;
}

.hero-content > p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  margin-bottom: 40px;
}

.hero-text__border > small {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #363738;
}

.hero-border {
  border-bottom: 3px solid #FFCE50;
  max-width: 104px;
}

@media only screen and (max-width: 1140px) {
  .hero-container {
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 39px;
  }
  .hero-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 117px;
  }
  .hero-two {
    display: block;
  }
  .hero-one {
    display: none;
  }
  .hero-content {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 73px;
  }
  .hero-content > h1 {
    font-family: Exo 2;
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
    text-align: center;
    margin-bottom: 49px;
  }
  .hero-content > p {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 44px;
  }
  .hero-text__border > small {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
  }
  .hero-text__border {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  .hero-border {
    border-bottom: 3px solid #FFCE50;
    max-width: 104px;
  }
}
@media only screen and (max-width: 552px) {
  .hero-container {
    max-width: 552px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
  }
  .hero-content > h1 {
    font-family: Exo 2;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    margin-bottom: 32px;
  }
  .hero-content > p {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    margin-bottom: 32px;
  }
  .hero-text__border > small {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    text-align: left;
  }
  .hero-content {
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 51px;
  }
  .hero-border {
    border-bottom: 3px solid #FFCE50;
    max-width: 99px;
  }
  .hero-text__border {
    margin-left: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
.business-relationship__container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 20px;
  box-sizing: content-box;
}

.business-relationship {
  margin-top: 67px;
  margin-bottom: 67px;
}

.business-relationship__wrapper {
  max-width: 1038px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  display: flex;
  justify-content: space-between;
  padding: 40px 0 56px 80px;
}

.business-relationship__card > img {
  width: 92px;
  height: 92px;
}

.business-relationship__card {
  max-width: 228px;
  display: flex;
  flex-direction: column;
}

.business-relationship__text {
  display: flex;
  flex-direction: column;
}

.business-relationship__text > p {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 16px;
}

.business-relationship__text > small {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.business-relationship__border {
  border-right: 1px solid #D7D7DD;
  height: 261px;
}

@media only screen and (max-width: 1140px) {
  .business-relationship__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
    border-radius: 20px;
    box-sizing: content-box;
    box-shadow: none;
  }
  .business-relationship__wrapper {
    max-width: 1140px;
    grid-template-columns: repeat(1fr);
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 39px;
  }
  .business-relationship__border {
    display: none;
  }
  .business-relationship__card {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
    flex-direction: row;
    padding: 32px 32px 57px 32px;
    align-items: center;
    border-radius: 20px;
  }
  .business-relationship__card {
    max-width: 1140px;
  }
  .business-relationship__text {
    max-width: 394px;
  }
  .business-relationship__text > p {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
    color: #363738;
    max-width: 359px;
  }
  .business-relationship__card > img {
    margin-right: 32px;
  }
  .business-relationship__text > small {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #6B6B6C;
    max-width: 394px;
  }
}
@media only screen and (max-width: 552px) {
  .business-relationship__card {
    box-shadow: none;
    flex-direction: column;
    align-items: start;
  }
  .business-relationship__wrapper {
    max-width: 552px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1490196078);
    padding: 24px 23px 32px 32px;
    border-radius: 20px;
    grid-template-columns: repeat(1fr);
    display: flex;
    gap: 24px;
    flex-direction: column;
    box-sizing: content-box;
  }
  .business-relationship__card {
    max-width: 552px;
    box-sizing: content-box;
    padding: 0;
    border-radius: 0px;
  }
  .business-relationship__card > img {
    margin-right: 0px;
    margin-bottom: 16px;
  }
  .business-relationship__text > p {
    font-family: "Exo 2";
    font-family: Exo 2;
    font-size: 18px;
    font-weight: 600;
    line-height: 24.3px;
    text-align: left;
    margin-bottom: 12px;
  }
  .business-relationship__text > small {
    font-family: PT Sans;
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
  }
}
.truct-wrapper {
  -webkit-clip-path: polygon(50% 0%, 84% 68%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(50% 0%, 84% 68%, 100% 100%, 0 100%, 0 0);
  background-color: #0B7572;
  max-width: 769px;
  height: 453.5px;
}

.truct-background {
  max-width: 1240px;
  margin: 0 auto;
  background-image: url("../../images/truct.png");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.truct-container {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: content-box;
}

.truct-wrapper > h1 {
  padding-top: 178px;
  margin-left: 90px;
  max-width: 362px;
  font-family: "Exo 2";
  font-size: 44px;
  font-weight: 600;
  line-height: 55px;
  text-align: left;
  color: white;
}

.truct-information {
  display: flex;
  max-width: 1034px;
  justify-content: space-between;
  gap: 62px 140px;
  display: grid;
  margin-left: 66px;
  margin-top: 72.5px;
  grid-template-columns: repeat(2, 1fr);
}

.truct-info {
  display: flex;
  align-items: center;
  max-width: 447px;
  justify-content: space-between;
}

.info-wrapper {
  max-width: 327px;
  display: flex;
  flex-direction: column;
}

.info-wrapper > p {
  margin-bottom: 16px;
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
}

.info-wrapper > small {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
}

@media only screen and (max-width: 1140px) {
  .truct-wrapper {
    -webkit-clip-path: polygon(50% 0%, 84% 68%, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(50% 0%, 84% 68%, 100% 100%, 0 100%, 0 0);
    background-color: #0B7572;
    max-width: 600px;
    height: 383px;
  }
  .truct-wrapper > h1 {
    padding-top: 112px;
    margin-left: 85px;
    max-width: 288px;
    font-family: "Exo 2";
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
    text-align: left;
    color: white;
  }
  .truct-information {
    display: flex;
    flex-direction: column;
    max-width: 533px;
    justify-content: space-between;
    display: grid;
    margin-left: 66px;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 120px;
    margin: 0 auto;
    margin-top: 72.5px;
  }
  .info-wrapper {
    max-width: 400px;
  }
  .truct-info {
    display: flex;
    align-items: center;
    max-width: 533px;
    gap: 49px;
  }
  .truct-container {
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: content-box;
  }
  .truct-background {
    background-image: url("../../images/truct.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    width: 100%;
    margin: 0 auto;
    max-width: 1140px;
  }
  .info-wrapper > p {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: left;
  }
  .info-wrapper > small {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
}
@media only screen and (max-width: 768px) {
  .truct-background {
    background-image: none;
  }
  .truct-wrapper > h1 {
    padding-top: 0px;
    margin-left: 0px;
    max-width: 344px;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    color: rgb(0, 0, 0);
  }
  .truct-wrapper {
    background-color: white;
    -webkit-clip-path: polygon(100% 0, 100% 57%, 100% 100%, 0 100%, 0 0);
            clip-path: polygon(100% 0, 100% 57%, 100% 100%, 0 100%, 0 0);
    height: 100%;
    padding: 0 16px;
  }
}
@media only screen and (max-width: 552px) {
  .truct-information {
    display: flex;
    flex-direction: column;
    max-width: 552px;
    justify-content: space-between;
    display: grid;
    margin-left: 0%;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 120px;
    margin-left: 0;
    gap: 38px;
    margin-top: 48px;
  }
  .truct-wrapper {
    padding: 0px;
  }
  .info-wrapper {
    max-width: 552px;
  }
  .truct-info {
    display: flex;
    align-items: center;
    max-width: 552px;
    gap: 0 16px;
    justify-content: space-between;
  }
  .info-wrapper > p {
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 600;
    line-height: 24.3px;
    text-align: left;
    margin-bottom: 12px;
  }
  .truct-info > img {
    width: 52px;
    height: 52px;
  }
  .info-wrapper > small {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
  }
  .truct {
    padding: 0 15px;
  }
  .truct-background {
    background-image: none;
    padding: 0px;
  }
}
.work-activity__container {
  max-width: 1239px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 16px;
}

.work-activity {
  padding-top: 120px;
  padding-bottom: 212px;
}

.work-activity-wrapper {
  display: flex;
  flex-direction: column;
}

.work-activity__card {
  max-width: 393px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
  border-radius: 10px;
  overflow: hidden;
}

.work-image__one {
  display: none;
}

.work-image__two {
  display: none;
}

.work-activity__cards {
  max-width: 1239px;
  display: grid;
  gap: 0 30px;
  grid-template-columns: repeat(3, 1fr);
}

.work-activity__wrapper > h1 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  margin-bottom: 32px;
  max-width: 687px;
  color: #363738;
}

.work-activity__wrapper > p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  margin-bottom: 56px;
  max-width: 667px;
}

.work-activity__text {
  padding: 24px 34px 32px 32px;
}

.work-activity__text > p {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: #363738;
  margin-bottom: 16px;
}

.work-activity__text > small {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
}

.work-activity__border {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
}

.work-activity__border > p {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 21.6px;
  text-align: left;
  color: #363738;
}

.work-border {
  border-bottom: 3px solid #FFCE50;
  width: 86px;
}

@media only screen and (max-width: 1140px) {
  .work-activity__container {
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 39px;
  }
  .work-activity__cards {
    max-width: 1140px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    flex-wrap: wrap;
  }
  .work-activity__card {
    max-width: 1140px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
    border-radius: 10px;
  }
  .work-activity {
    padding-bottom: 120px;
  }
  .work-img {
    display: none;
  }
  .work-image__one {
    display: block;
    width: 100%;
  }
  .work-activity__wrapper > h1 {
    font-family: "Exo 2";
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
    text-align: left;
    margin-bottom: 32px;
    color: #363738;
  }
  .work-activity__wrapper > p {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #6B6B6C;
    margin-bottom: 40px;
  }
  .work-activity__card > img:nth-child(3) {
    height: 247px !important;
  }
}
@media only screen and (max-width: 552px) {
  .work-image__two {
    display: block;
    width: 100%;
  }
  .work-image__one {
    display: none;
  }
  .work-activity__wrapper > h1 {
    font-family: "Exo 2";
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    max-width: 552px;
    margin-bottom: 24px;
    color: #363738;
  }
  .work-activity__wrapper > p {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    max-width: 344px;
  }
  .work-activity__container {
    max-width: 552px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
  }
}
.delivery-stages__container {
  max-width: 1232px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 16px;
}

.delivery-stages {
  padding-bottom: 120px;
  padding-top: 120px;
}

.delivery-stages__wrapper {
  display: flex;
  flex-direction: column;
}

.delivery-stages__wrapper > h1 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  margin-bottom: 48px;
}

.delivery-stages__cards {
  display: grid;
  display: flex;
  max-width: 1183px;
  flex-wrap: wrap;
  gap: 24px;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 49px;
}

.delivery-stages__card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
  justify-content: space-between;
  display: flex;
  gap: 0 56px;
  padding: 32px 132px 32px 96px;
  border-radius: 10px;
}

.delivery-stages__text {
  display: flex;
  flex-direction: column;
}

.delivery-stages__card > img {
  width: 331px;
  height: 181px;
}

.delivery-stages__border > p {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  text-align: left;
  margin-bottom: 10px;
}

.delivery-stages__border {
  margin-bottom: 24px;
}

.delivery-stages__text > p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #6B6B6C;
  max-width: 568px;
}

.delivery-border {
  border-bottom: 3px solid #FFCE50;
  max-width: 86px;
}

@media only screen and (max-width: 1140px) {
  .delivery-stages__container {
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 39px;
  }
  .delivery-img {
    display: none;
  }
  .delivery-stages__card {
    margin: 0 auto;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
    gap: 0 56px;
    padding: 40px 76.22px 48px 85.41px;
    border-radius: 10px;
  }
  .delivery-stages__wrapper > h1 {
    font-family: "Exo 2";
    font-size: 44px;
    font-weight: 600;
    line-height: 55px;
    text-align: left;
    margin-bottom: 48px;
  }
  .delivery-stages__border > p {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
    margin-bottom: 10px;
  }
  .delivery-stages__text > p {
    font-family: PT Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #6B6B6C;
  }
  .delivery-stages__cards {
    margin-left: 0%;
  }
}
@media only screen and (max-width: 552px) {
  .delivery-stages__container {
    max-width: 552px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 18.5px;
  }
  .delivery-stages__card {
    margin: 0 auto;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
    gap: 0 56px;
    padding: 24px 24.3px 32px 47.5px;
    border-radius: 10px;
  }
  .delivery-border {
    display: none;
  }
  .delivery-stages__wrapper > h1 {
    font-family: "Exo 2";
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    margin-bottom: 30px;
  }
  .delivery-stages__border > p {
    font-family: "Exo 2";
    font-family: Exo 2;
    font-size: 18px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: left;
    margin-bottom: 0px;
  }
  .delivery-stages__text > p {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    color: #6B6B6C;
  }
  .delivery-stages__border {
    margin-bottom: 16px;
  }
}
.theytrustus__container {
  max-width: 1212px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: content-box;
}

.theytrustus {
  padding-bottom: 124px;
}

.theytrustus__logo {
  display: flex;
  flex-direction: column;
}

.theytrustus__container > h1 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
  margin-bottom: 90px;
}

.logos {
  margin: 0 auto;
  height: 71px;
  margin-bottom: 32px;
}

.theytrustus__logo > p {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: center;
  color: #363738;
}

.theytrustus__logo > small {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  white-space: nowrap;
  color: #6B6B6C;
  margin-top: 14px;
}

.theytrustus-border {
  border-right: 1px solid #D7D7DD;
  height: 183px;
  margin: 0 auto;
}

.theytrustus__logo > img {
  -o-object-fit: cover;
     object-fit: cover;
}

.theytrustus__wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 80px 0px;
  justify-content: space-between;
}

@media only screen and (max-width: 1140px) {
  .theytrustus__container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 39px;
    box-sizing: content-box;
  }
  .theytrustus__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 65px 0px;
  }
  .theytrustus-border:nth-of-type(1) {
    display: none;
  }
  .theytrustus-border:nth-of-type(4) {
    display: none;
  }
  .theytrustus-border:nth-of-type(3) {
    display: none;
  }
  .theytrustus-border:nth-of-type(5) {
    display: none;
  }
  .border-two {
    display: none;
  }
  .theytrustus-border {
    border-right: 1px solid #D7D7DD;
    height: 175px;
    margin: 0 auto;
  }
  .theytrustus__logo > p {
    font-family: "Exo 2";
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    margin-top: 32px;
  }
  .theytrustus__logo > small {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 14px;
    color: #6B6B6C;
    white-space: wrap;
  }
}
@media only screen and (max-width: 552px) {
  .theytrustus__logo > p {
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 600;
    line-height: 24.3px;
    text-align: center;
    margin-top: 24px;
  }
  .theytrustus__logo > small {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.9px;
    text-align: center;
    margin-top: 12px;
    color: #6B6B6C;
  }
  .theytrustus__container {
    max-width: 552px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
  }
  .delete {
    display: none;
  }
  .theytrustus__wrapper {
    gap: 48px 0px;
  }
  .logos {
    max-width: 100px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .theytrustus__container > h1 {
    font-size: 28px !important;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    margin-bottom: 56px;
  }
}
.company-employees__container {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 16px;
}

.company-employees__card {
  max-width: 605px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-left: 51px solid #0B7572;
  border-radius: 10px;
}

.company-employess__cardwrapper {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 32px 49px 40px 32px;
}

.company-employees__wrapper > h1 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: #363738;
  margin-bottom: 72px;
}

.company-employees__logos {
  display: flex;
  gap: 20px;
  align-items: center;
}

.company-employees__cards {
  display: grid;
  gap: 30px 24px;
  grid-template-columns: repeat(2, 1fr);
}

.company-employees__text {
  display: flex;
  flex-direction: column;
}

.company-employees__border {
  margin-bottom: 32px;
}

.company-employees__text > p {
  font-family: "Exo 2";
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 12px;
  color: #363738;
  max-width: 165px;
}

.company-employees__border > p {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #6B6B6C;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1140px) {
  .company-employees__container {
    max-width: 1140px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 39px;
  }
  .company-employess__cardwrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    padding: 24px 50px 32px 30px;
  }
  .company-employess__cardwrapper > img {
    width: 100px;
    height: 100px;
  }
  .company-employees__card {
    max-width: 605px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    border-left: 30px solid #0B7572;
    border-radius: 10px;
  }
}
@media only screen and (max-width: 552px) {
  .company-employees__container {
    max-width: 552px;
    margin: 0 auto;
    box-sizing: content-box;
    padding: 0 15px;
  }
  .company-employees__wrapper > h1 {
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    margin-bottom: 32px;
  }
  .company-employess__cardwrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    padding: 24px 21px 33px 16px;
  }
  .company-employees__cards {
    display: grid;
    gap: 30px 24px;
    grid-template-columns: repeat(1, 1fr);
  }
  .company-employees__text > p {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    text-align: left;
  }
  .company-employees__border {
    margin-bottom: 25px;
  }
  .company-employees__border > p {
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin-bottom: 10px;
  }
  .company-employees__card {
    max-width: 605px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
    border-left: 20px solid #0B7572;
    border-radius: 10px;
  }
}
* {
  text-decoration: none;
  list-style: none;
}

footer {
  background-color: #0B7572;
  margin-top: 166px;
}

.footer-container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: content-box;
}

.footer-wrapper {
  display: flex;
  padding-top: 59px;
  padding-bottom: 80px;
  max-width: 1240px;
  justify-content: space-between;
}

.footer-item__wrapper {
  max-width: 350px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.footer-wrapper__position {
  display: flex;
  max-width: 660px;
  width: 100%;
  justify-content: space-between;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-small {
  display: none;
}

.item-text {
  font-family: "Exo 2";
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: 0.16em;
  text-align: left;
  color: white;
}

.footer-logos {
  display: flex;
  gap: 14px;
}

.footer-btns {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer_boton {
  font-family: "Exo 2";
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.16em;
  text-align: center;
  color: white;
  padding-bottom: 29px;
}

.telnomer {
  font-family: "Exo 2";
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  color: white;
}

.footer-btn {
  font-family: "Exo 2";
  padding: 8px 11px;
  font-size: 13px;
  font-weight: 600;
  line-height: 19.5px;
  text-align: left;
  color: white;
  align-items: center;
  gap: 14px;
  display: flex;
  background-color: #FF9619;
}

@media only screen and (max-width: 1140px) {
  .footer-container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 39px;
    box-sizing: content-box;
  }
  .footer-wrapper {
    display: flex;
    padding-top: 59px;
    padding-bottom: 80px;
    max-width: 1140px;
    justify-content: space-between;
  }
  .telnomer {
    font-size: 8px;
    font-weight: 600;
    line-height: 12px;
    text-align: left;
  }
  .footer-small {
    display: block;
  }
  .footer-logo {
    display: none;
  }
  .footer-wrapper__position {
    display: flex;
    max-width: 430px;
    width: 100%;
    justify-content: space-between;
  }
  .footer-btn {
    font-size: 6px;
    font-weight: 600;
    line-height: 9px;
    text-align: left;
  }
  .item-text {
    font-size: 8px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.16em;
    text-align: left;
  }
  .footer_boton {
    font-size: 10px;
    font-weight: 500;
    line-height: 15px;
    letter-spacing: 0.16em;
    text-align: center;
    padding-bottom: 21px;
  }
  .footer-item {
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  .footer-logo {
    max-width: 92px;
    height: 46px;
  }
  .footer-item__wrapper {
    max-width: 266px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 657px) {
  .footer-wrapper__position {
    display: flex;
    flex-direction: column;
    max-width: 430px;
    width: 100%;
    justify-content: space-between;
  }
  .footer-wrapper {
    display: flex;
    padding-top: 59px;
    padding-bottom: 80px;
    max-width: 1140px;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer-small {
    display: block;
    margin-bottom: 23px;
  }
  .footer-btn {
    font-size: 6px;
    font-weight: 600;
    line-height: 9px;
    text-align: left;
    max-width: 140px;
  }
}
.table-conatiner {
  max-width: 1240px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 0 16px;
  display: flex;
}

.table-wrapper {
  background: #0B7572;
  padding-top: 85px;
  padding-bottom: 85px;
  display: flex;
  padding-left: 81px;
  padding-right: 66px;
  max-width: 1240px;
  gap: 65px;
}

.table-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: start;
  margin-bottom: 37.51px;
}

hr {
  margin-bottom: 32px;
}

.table-logo > p {
  font-family: PT Sans;
  font-size: 11px;
  font-weight: 400;
  line-height: 16.5px;
  text-align: left;
}

.number {
  font-family: PT Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: left;
  color: #363738;
}

span {
  font-family: "Exo 2";
  font-size: 14px;
  font-weight: 600;
  line-height: 18.9px;
  text-align: left;
  color: #363738;
  margin-top: 10px;
}

.table-nav > th {
  font-family: "Exo 2";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: center;
  color: white;
}

small {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 18.9px;
  text-align: left;
  color: #363738;
  margin-bottom: 10px;
}

.table-cards {
  background: #ffffff;
  border-radius: 10px;
  padding: 28px 32px;
  max-width: 652px;
}

.table-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #6B6B6C;
}

.table-title > h5 {
  font-family: "Exo 2";
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  text-align: left;
  color: white;
}

.table-title-text {
  max-width: 280px;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1rem;
  color: #6B6B6C;
}

.table-nav {
  background: #0B7572;
}

th {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  color: #ffffff;
  padding: 8px 20px;
}

.t-info td {
  padding: 10px;
}

.text-table {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18.9px;
  text-align: left;
  margin-bottom: 12px;
  color: #6B6B6C;
}

span {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: #363738;
}

.all-border {
  border-collapse: collapse;
}

.all-border td {
  border: 1px solid #D7D7DD;
}

.all-border tr:first-child td {
  border-top: none;
}

.all-border tr:last-child td {
  border-bottom: none;
}

.all-border tr td:first-child {
  border-left: none;
}

.all-border tr td:last-child {
  border-right: none;
}

@media only screen and (max-width: 1140px) {
  .table {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */